<div class="container">
  <div class="left-side">
    <h1>Hello Friend!</h1>
    <p>Enter your personal details and start your journey with us.</p>
    <p><a href="#">Already have an account? Login</a></p>
  </div>
  <div class="right-side">
    <div class="form-container">
      <form [formGroup]="memberForm" (ngSubmit)="onSubmit()" >
        <!-- Profile Picture Section -->
        <div class="profile-picture">
          <img id="profileImage" src="https://st3.depositphotos.com/15648834/17930/v/450/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="Profile Picture">
          <input type="file" id="uploadImage" accept="image/*" (change)="onFileSelected($event)">
        </div>
        <!-- End Profile Picture Section -->

        <div class="form-row">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName"  formControlName="memberName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName"  formControlName="memberLastName">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="memberID">Member ID</label>
            <input type="text" id="memberID" name="memberID" formControlName="memberId">
          </div>
          <div class="form-group">
            <label for="pinLevel">PIN Level</label>
            <input type="text" id="pinLevel" name="pinLevel" formControlName="memberPinLevel">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="systemIncharge">System Incharge</label>
            <input type="text" id="systemIncharge" name="systemIncharge" formControlName="memberIncharge">
          </div>
          <div class="form-group">
            <label for="tabTeamName">Tab Team Name</label>
            <input type="text" id="tabTeamName" name="tabTeamName" formControlName="memberTeam">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="emailID">Email ID</label>
            <input type="email" id="emailID" name="emailID" formControlName="memberEmail">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" formControlName="memberNumber">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="gst">GST</label>
            <input type="text" id="gst" name="gst" formControlName="memberGst">
          </div>
          <div class="form-group">
            <label for="spouseName">Spouse Name</label>
            <input type="text" id="spouseName" name="spouseName" formControlName="memberSpouseName">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" name="address"  formControlName="memberAddress1">
          </div>
          <div class="form-group">
            <label for="address2">Address 2</label>
            <input type="text" id="address2" name="address2" formControlName="memberAddress2">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" id="city" name="city"  formControlName="memberCity">
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" id="state" name="state" formControlName="memberState">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" formControlName="memberCountry">
          </div>
          <div class="form-group">
            <label for="zipCode">Zip Code</label>
            <input type="text" id="zipCode" name="zipCode" formControlName="memberZipCode">
          </div>
        </div>
        <button type="submit" style="  justify-content: center; ">Submit Details</button>
      </form>
    </div>
  </div>
</div>
