<div class="container">
  <aside class="sidebar">
    <div class="logo">
      <img src="./logo.svg" alt="">
    </div>
    <nav class="menu">
      <ul>
        <li> <a routerLink="/dashboard"> <i class="fa fa-house"></i>&nbsp;&nbsp;
            Dashboard</a></li>
        <li class="active"><a><i class="fa fa-calendar-days"></i>&nbsp;&nbsp; Event Management</a></li>
        <li><a><i class="fa fa-user"></i>&nbsp;&nbsp; User Management</a></li>

        <li><a> <i class="fa fa-plus">&nbsp;&nbsp;</i>Add Admin</a></li>
        <li><a> <i class="fa fa-repeat"></i> &nbsp;&nbsp; Switch Account</a></li>
        <li><a> <i class="fa fa-gear"></i>&nbsp;&nbsp; Settings</a></li>
        <li><a><i class="fa fa-arrow-right-from-bracket"></i>&nbsp;&nbsp; Log out</a></li>
      </ul>
    </nav>
<app-calendar></app-calendar>
  </aside>

  <main class="main-content">
    <header class="header">
      <div class="search">
        <i class="fa fa-magnifying-glass search-icon"></i>
        <input type="text" placeholder="Search">
      </div>

      <div class="icons">
        <button style="border: none; background: none;">
          <img src="./Messages.png" alt="Messages" class="icon-image" />
        </button>
        <button style="border: none; background: none;">
          <img src="./Notifications.png" alt="Notifications" class="icon-image" />
        </button>
        <div class="user">
          <img src="./user.png" alt="User">
        </div>
      </div>
    </header>


    <div class="content" >
      <h2 class="event-title" style="color: #4D22AE; font-weight: 400; font-size: 40px;">Event Details</h2>
      <div class="container1" >
        <div class="event-card"  >
       
            <div class="position-relative" *ngIf="eventData">
                <img src="{{eventData.images}}" alt="Event Image" class="event-image">
                <!-- <div class="icon-buttons">
                    <div class="icon-button">🔗</div>
                    <div class="icon-button">❤️</div>
                </div> -->
            </div>
            <div class="event-content"  >
                <div class="event-buttons">
                    <div class="event-price">{{eventData.price}}Rs.</div>
                    <button class="book-now-button" routerLink="/preview">Book Now</button>
                </div>
                <div class="event-title">{{eventData.eventName}} </div>
                <div class="event-subtitle">We are strong, Because the journey demands it!</div>
                <div class="event-description">
                {{eventData.eventDescription}}          
                </div>
                <div class="event-details">
                    <div class="event-detail"><strong>Qualification level:</strong><br> Open to all Senior consultants</div>
                    <div class="event-detail"><strong>Location:</strong><br> {{eventData.eventLocation}}</div>
                    <div class="event-detail"><strong>Date and Time:</strong><br> {{eventData.eventStarDate}} - 10:00 am</div>
                    <div class="event-detail"><strong>Seats Left:</strong><br> 55 Seats are left</div>
                </div>
                <div class="event-map">
                    <button class="event-map-button">📍 Open in Google Maps</button>
                </div>
            </div>
        </div>
    </div>
    </div>

  </main>
</div>
