/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
} */

.invoice-container {
  width: 45%;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;
  margin-left: 300px;
  font-family: 'Poppins';
}

.invoice-title {
  font-size: 26px;
  font-weight: 600;
  color: #4D22AE;
  margin-bottom: 5px;
}

.invoice-title span {
  color: #4D22AE;
}

.workshop-title {
  font-size: 16px;
  color: #7a7a7a;
  margin-bottom: 30px;
}

.invoice-details {
  display: flex;
  justify-content: space-between;

}

.invoice-details h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4D22AE;
}

.bill-from, .bill-to {
  width: 45%;
  line-height: 1.6;
}

.invoice-dates {
  text-align: right;
}

.invoice-dates p {
  margin: 0;
  font-size: 14px;
}

.ticket-details {
  margin-bottom: 30px;
}

.ticket-details h3 {
  font-size: 18px;
  color: #4D22AE;
  margin-bottom: 15px;
  font-weight: 600;
}

.ticket-details table {
  width: 100%;
  border-collapse: collapse;
}

.ticket-details td {
  padding: 5px 0;
  font-size: 14px;
  color: #333;
}

.ticket-details td:first-child {
  width: 40%;
  color: #7a7a7a;
}

.amount-details {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

.amount-details p {
  margin: 5px 0;
}

.payment-info {
  font-size: 12px;
  color: #7a7a7a;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid #f0b273;
  background-color: #fff5e5;
  padding: 10px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-btn, .print-btn, .send-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #f4f4f4;
  color: #333;
}

.print-btn {
  background-color: #fff;
  color: #4D22AE;
  border: 1px solid #4D22AE;
}

.send-btn {
  background-color: #4D22AE;
  color: #fff;
}

.send-btn:hover {
  background-color: #3b1b95;
}

.cancel-btn:hover, .print-btn:hover {
  background-color: #ddd;
}
@media print {
  body * {
      visibility: hidden;
  }

  #invoice, #invoice * {
      visibility: visible;
  }

  #invoice {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
  }

  .buttons {
      display: none;
  }
}
